link


com.google.android.gms:play-services-location:16.0.0


com.google.android.gms:play-services-location:16.0.0



AIzaSyCgR7Qbv7hZrO081Yxipttg_yUl_mNO-MM
//api key




<fragment xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:id="@+id/map"
    tools:context=".MapsActivity"
    android:name="com.google.android.gms.maps.SupportMapFragment" />
